body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-size: xxx-large;
  font-family: monospace;
}

.box {
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 50px 12px black;
}
.link a {
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  margin: 1px;
  display: block;
  text-align: center;
}

.form-box {
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 50px 12px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-input {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 550px;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  font-size: 16px;
}

input[type="submit"] {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

label {
  width: 550px;
}

.dashboard {
  height: 90vh;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 50px 12px black;
  font-size: large;
}

.uploaded-files {
  display: flex;
}

input[type="file"] {
  width: 400px;
  font-size: 20px;
  height: 50px;
}

#upload-file {
  width: 200px;
  font-size: 20px;
}
