* {
  box-sizing: border-box;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: skyblue;
  color: white;
}

h1 {
  font-size: 6rem;
  padding: 100px;
}

h2 {
  font-size: 1.7rem;
}

/*Input field*/

label {
  width: 200px;
}

/*main box*/

.form-box,
.box,
.dashboard-box {
  padding: 100px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  background-color: #280858;

}

.label-input {
  font-size: 1.4rem;
  display: flex;
  justify-items: right;
  gap: 10px;
}
input[type="file"] {
  font-size: 1.4rem;
}

/*buttons*/

.buttons {
  display: flex;
  gap: 100px;
  justify-content: center;
  font-size: 2rem;
}

.btn {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border: skyblue solid 1px;
  padding: 7px;

  border-radius: 10px;
}

.link-btn {
  color: black;
  background-color: white;
  border: skyblue outset 1px;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 7px;
  border-radius: 10px;
}
.download-btn {
  color: white;
  font-size: 1.2rem;
}

.upload-btn,
.browse-btn,
.delete-btn {
  font-size: 1.2rem;
}

.btn:hover,
.upload-btn:hover,
.browse-btn:hover,
.delete-btn:hover {
  cursor: pointer;
}

#display-uploaded-files {
  font-size: x-large;
  padding:100px;
  align-items: left;
}